:root {
  --main-font: "Pretendard", sans-serif;
}

body {
  font-family: var(--main-font);
}

/* KakaoSmallSans */
@font-face {
  font-family: "KakaoSmallSans";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2503@1.0/KakaoSmallSans-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Pretendard-Regular */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/projectnoonnu/fonts_2107/1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* Chosunilbo_myunjo */
@font-face {
  font-family: "Chosunilbo_myunjo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myunjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
